
.wiggle:hover {
            animation: wiggle 0.5s ease-in-out infinite;
        }
        
        @keyframes wiggle {
            0%, 100% { transform: rotate(0deg); }
            25% { transform: rotate(-5deg); }
            75% { transform: rotate(5deg); }
        }

.navItem:hover {
            animation: bounce 0.5s ease-in-out infinite;
            color: #222; 
            background: #085239;
            border-radius: 8px; 
            box-shadow: 0 4px 10px #085239;
            border: 15px solid #085239;
        }

        @keyframes bounce {
            0%, 100% { transform: translateY(-2px); }
            50% { transform: translateY(-7px); }
        }

.mainBodyTextHyperLink{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.mainBodyTextHyperLink:hover {
    color: #085239;
    animation: bounce 0.3s ease-in-out infinite;
    background: #085239;
    border-radius: 3px; 
    box-shadow: 0 4px 10px #085239;
    border: 8px solid #085239;
}